@model MVCConfigurator.UI.Models.ProductViewModel
@{
    ViewBag.Title = "CreateProduct";
}

<h2>CreateProduct</h2>
@using(Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Product.Category)
    @Html.TextBoxFor(m => m.Product.ImagePath)

    <input type="submit" value="submit" />
}


