@model MVCConfigurator.UI.Models.UserViewModel
@{
    ViewBag.Title = "CreateNewPassword";
}

<h2>CreateNewPassword</h2>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(x=>x.Password)
    @Html.EditorFor(x=>x.Password)<br />
    <input type="submit" value="Submit"/>
    
}
