@model MVCConfigurator.UI.Models.UserViewModel

@{
    ViewBag.Title = "Admin";
}

<h2>Reset Password</h2>

@using(@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.Username)
    <input type="submit" value="Send" class="btn btn-default" />
    
}

